{% extends 'base.html' %} {% load static %} {%block titulo%}Cadastro{%endblock%}
{% block corpo %}
<div class="corpo">
  <h1>Cadastro</h1>
  {% include 'parciais/_messages.html' %}
  <form method="POST" action="{% url 'cadastro' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="usuario">Usuário</label><br />
      <input
        name="usuario"
        type="text"
        placeholder="Digite o seu nome de usuário"
        id="usuario"
        value="{{request.POST.usuario}}"
        class="form-control"
        required="required"
      />
    </div>
    <div class="form-group">
      <label for="senha">Senha</label><br />
      <input
        name="senha"
        type="password"
        placeholder="Digite a sua senha"
        id="senha"
        class="form-control"
        required="required"
      />
    </div>
    <div class="form-group">
      <label for="senha2">Confirmar Senha</label><br />
      <input
        name="senha2"
        type="password"
        placeholder="Digite a sua senha novamente"
        id="senha2"
        class="form-control"
        required="required"
      />
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
  <hr />
  Já é cadastrado no site? Faça seu login:
  <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
</div>
{% endblock %}
